:root {
    --primary-color: #007FFC;
    --secondary-color: #16133E;
    --main-text-color: #16133E;
    --secondary-text-color: #5A7184;
    --subtitle-text-color: #87A1B6;
    --price-card1-color: #0593FA;
    --price-card2-color: #56CBAE;
    --price-card3-color: #FA6770;
    --font-nunito-sans: 'Nunito Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

/* resets */
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global css */
html {
    font-size: 10px;
}

body {
    padding: 0 4rem;
    font-family: var(--font-roboto);
}

h1,
h2 {
    font-family: var(--font-nunito-sans);
}

p,
a {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* acknowledgement section */
.acknowledgement {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
}

.acknowledgement a {
    color: white;
}