:root {
    --primary-color: #007FFC;
    --secondary-color: #16133E;
    --main-text-color: #16133E;
    --secondary-text-color: #5A7184;
    --subtitle-text-color: #87A1B6;
    --price-card1-color: #0593FA;
    --price-card2-color: #56CBAE;
    --price-card3-color: #FA6770;
    --font-nunito-sans: 'Nunito Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

/* resets */
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global css */
html {
    font-size: 10px;
}

body {
    padding: 0 4rem;
    font-family: var(--font-roboto);
}

h1,
h2 {
    font-family: var(--font-nunito-sans);
}

p,
a {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* acknowledgement section */
.acknowledgement {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
}

.acknowledgement a {
    color: white;
}

/* navigation bar */

.nav-bar {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    display: inline-block;
}

.logo img {
    height: 2.7rem;
}

.menu {
    border: none;
    background-color: white;
    width: 3.5rem;
    height: 3.5rem;
    display: none;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
}

.nav a,
.sign-buttons a,
.cta-buttons a {
    text-decoration: none;
    font-weight: 500;
}

.nav a,
.sign-buttons .sign-up {
    color: #000;
}

.nav a {
    padding: 0.5rem 1rem;
}

.nav a:hover {
    color: white;
    background-color: var(--secondary-color);
}

.sign-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cta-buttons a,
.sign-buttons a {
    display: inline-block;
    border-radius: 0.8rem;
}

.sign-buttons a {
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--secondary-color);
}

.sign-buttons .log-in {
    color: white;
    background-color: var(--secondary-color);
}


/* main section */
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 2rem 0 10rem 0;
}

.banner-text h1 {
    font-size: 5.6rem;
    color: var(--main-text-color);
    font-weight: 600;
}

.banner-text p {
    font-size: 1.9rem;
    color: #183B56;
    margin: 2rem 0 3rem 0;
}

.cta-buttons a {
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
}

.cta-buttons .main {
    color: white;
    background-color: var(--primary-color);
    margin-right: 2rem;
}

.cta-buttons .secondary {
    color: var(--primary-color);
}

/* slide show */
.slideshow {
    padding: 2rem 0;
    position: relative;
    max-width: 50rem;
    margin: auto;
}

.slide {
    display: none;
}

.slide-img {
    border-radius: 0.5rem;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    background-color: var(--secondary-color);
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.prev {
    transform: translate(-50%, -50%);
}

.next {
    right: 0;
    transform: translate(50%, -50%) rotate(180deg);
}

/* services section */

.services-container {
    margin-top: 4rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.services h2 {
    margin: 2rem 0 1rem 0;
}

.service-card {
    border: 1px solid #E5EAF4;
    padding: 2rem;
    color: var(--main-text-color);
    border-radius: 0.8rem;
}

.service-card a {
    color: var(--main-text-color);
    text-decoration: none;
}

.service-title {
    font-size: 2.4rem;
    margin-top: 2rem;
}

.service-desc {
    margin: 1rem 0 2rem 0;
}

.service-icon {
    width: 6.2rem;
    height: 6.6rem;
    border: 1px solid #E8F0FB;
    border-radius: 1.6rem;
    display: flex;
}

.service-icon img {
    margin: auto;
}

.section-title {
    color: var(--subtitle-text-color);
    text-transform: uppercase;
}

.section-headline {
    font-size: 4rem;
    color: var(--main-text-color);
    font-weight: 600;
}

.section-desc {
    color: var(--secondary-text-color);
    font-size: 1.8rem;
}

/* media queries */
@media screen and (max-width: 1250px) {
    .nav {
        gap: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        gap: 2rem;
    }

    .banner {
        grid-template-columns: 1fr;
    }

    .slideshow {
        max-width: 65rem;
    }
}



@media screen and (max-width: 850px) {
    .nav-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }

    .menu {
        display: block;
    }

    .nav,
    .sign-buttons {
        display: none;
    }

    .nav.menu-open {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sign-buttons.menu-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

}

@media screen and (max-width: 690px) {
    .banner-text h1 {
        font-size: 4.6rem;
    }

    .section-headline {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 450px) {
    .banner-text h1 {
        font-size: 3.6rem;
    }

    .section-headline {
        font-size: 3rem;
    }

    .slideshow {
        padding: 0;
    }

    .prev,
    .next {
        padding: 1rem;
    }
}

@media screen and (max-width: 370px) {
    .cta-buttons a:last-child {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 320px) {
    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        width: 12rem;
    }

    .menu {
        width: 3rem;
        height: 3rem;
    }
}