:root {
    --primary-color: #007FFC;
    --secondary-color: #16133E;
    --main-text-color: #16133E;
    --secondary-text-color: #5A7184;
    --subtitle-text-color: #87A1B6;
    --price-card1-color: #0593FA;
    --price-card2-color: #56CBAE;
    --price-card3-color: #FA6770;
    --font-nunito-sans: 'Nunito Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

/* resets */
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global css */
html {
    font-size: 10px;
}

body {
    padding: 0 4rem;
    font-family: var(--font-roboto);
}

h1,
h2 {
    font-family: var(--font-nunito-sans);
}

p,
a {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* acknowledgement section */
.acknowledgement {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
}

.acknowledgement a {
    color: white;
}

/* navigation bar */

.nav-bar {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    display: inline-block;
}

.logo img {
    height: 2.7rem;
}

.menu {
    border: none;
    background-color: white;
    width: 3.5rem;
    height: 3.5rem;
    display: none;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
}

.nav a,
.sign-buttons a {
    text-decoration: none;
    font-weight: 500;
}

.nav a,
.sign-buttons .sign-up {
    color: #000;
}

.nav a {
    padding: 0.5rem 1rem;
}

.nav a:hover {
    color: white;
    background-color: var(--secondary-color);
}

.sign-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.sign-buttons a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    border: 2px solid var(--secondary-color);
}

.sign-buttons .log-in {
    color: white;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 1250px) {
    .nav {
        gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        gap: 2rem;
    }
}



@media screen and (max-width: 850px) {
    .nav-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }

    .menu {
        display: block;
    }

    .nav,
    .sign-buttons {
        display: none;
    }

    .nav.menu-open {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sign-buttons.menu-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        width: 12rem;
    }

    .menu {
        width: 3rem;
        height: 3rem;
    }
}